openapi: 3.1.0
info:
  title: Mux Video Assets Direct Uploads API
  description: 'REST API for ingesting, transcoding, storing, and delivering on-demand

    and live video. Provides endpoints for direct uploads, assets, playback

    IDs, live streams, and related resources. Authenticated via HTTP Basic

    auth using a Mux Access Token ID and Secret.

    '
  version: v1
servers:
- url: https://api.mux.com
  description: Mux production API
security:
- basicAuth: []
tags:
- name: Direct Uploads
  description: Create direct upload URLs and inspect upload status.
paths:
  /video/v1/uploads:
    get:
      tags:
      - Direct Uploads
      summary: List direct uploads
      operationId: listUploads
      responses:
        '200':
          description: List of direct uploads.
    post:
      tags:
      - Direct Uploads
      summary: Create a direct upload URL
      operationId: createUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Direct upload created.
  /video/v1/uploads/{UPLOAD_ID}:
    parameters:
    - in: path
      name: UPLOAD_ID
      required: true
      schema:
        type: string
    get:
      tags:
      - Direct Uploads
      summary: Retrieve a direct upload
      operationId: getUpload
      responses:
        '200':
          description: Direct upload details.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Mux Access Token ID (username) and Secret (password).
