openapi: 3.1.0
info:
  title: Mux Video Assets Live Streams API
  description: 'REST API for ingesting, transcoding, storing, and delivering on-demand

    and live video. Provides endpoints for direct uploads, assets, playback

    IDs, live streams, and related resources. Authenticated via HTTP Basic

    auth using a Mux Access Token ID and Secret.

    '
  version: v1
servers:
- url: https://api.mux.com
  description: Mux production API
security:
- basicAuth: []
tags:
- name: Live Streams
  description: Create and manage live streams.
paths:
  /video/v1/live_streams:
    get:
      tags:
      - Live Streams
      summary: List live streams
      operationId: listLiveStreams
      responses:
        '200':
          description: List of live streams.
    post:
      tags:
      - Live Streams
      summary: Create a live stream
      operationId: createLiveStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Live stream created.
  /video/v1/live_streams/{LIVE_STREAM_ID}:
    parameters:
    - in: path
      name: LIVE_STREAM_ID
      required: true
      schema:
        type: string
    get:
      tags:
      - Live Streams
      summary: Retrieve a live stream
      operationId: getLiveStream
      responses:
        '200':
          description: Live stream details.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Mux Access Token ID (username) and Secret (password).
